<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egleba.app.test"> <!-- The test package is usually .test -->

    <instrumentation
        android:name="com.egleba.app.NativeTestInstrumentation"
        android:targetPackage="com.egleba.app"
        android:label="Native Test Instrumentation" />
</manifest>

