repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-json

    - repo: https://github.com/pocc/pre-commit-hooks
      rev: v1.3.5
      hooks:
          - id: clang-format
            files: "\\.(c|cc|cpp|cxx|h|hh|hpp|hxx)$"
          - id: cmake-format
            files: "(CMakeLists\\.txt|\\.cmake)$"
